
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap');

:root {
  --green-color: #52C2B6;
  --bright-green: #B3F1EB;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 10px;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242453;
  display: flex;
  box-sizing: border-box;
  font-size: 2.1rem;
}

* {
  box-sizing: border-box;
}

#sapper {
	flex-grow: 1;
  height: 100%;
  max-width: 100%;
}


a[target="_blank"]:after {
  content: "";
  display: inline-block;
  width: 0.65em;
  height: 0.65em;
  margin-left: 0.4em;
  background: url('/blank-target.svg') no-repeat center center;
  background-size: 100%;
  transform: translateY(0.072em);
}

a {
  transition: opacity 0.15s;
  text-decoration: none;
  color: currentColor;
  display: inline-flex;
  align-items: center;
}

a:hover {
  filter: opacity(0.8);
}

.popup {
  z-index: 1000;
  border-radius: 0.8rem;
  background-color: #5E516D;
  font-size: 1.6rem;
  padding: 1.2rem 2.2rem;
  color: #fff;
  text-transform: none;
  text-align: left;
  font-weight: 400;
  white-space: nowrap;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 3.7rem;
  font-weight: 700;
}

.empty .placeholder {
  display: inline;
  background-color: currentColor;
  opacity: 0.1;
  border-radius: 0;
  color: inherit;
  border-color: currentColor !important;
  pointer-events: none;
  box-shadow: 0 2px 0 0 #fff;
  transition: none !important;
}

.empty .placeholder *, .empty .placeholder:before, .empty .placeholder:after {
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 800px) {
	html {
    font-size: 7px;
  }
}